#node_modules/
modules/rolepersist.json
config.json
node_modules/puppeteer-extra-plugin-stealth/index.d.ts
node_modules/puppeteer-extra-plugin-stealth/index.js
node_modules/puppeteer-extra-plugin-stealth/index.test.js
node_modules/puppeteer-extra-plugin-stealth/LICENSE
node_modules/puppeteer-extra-plugin-stealth/package.json
node_modules/puppeteer-extra-plugin-stealth/puppeteer-extra-plugin-stealth-2.1.0.tgz
node_modules/puppeteer-extra-plugin-stealth/readme.md
node_modules/puppeteer-extra-plugin-stealth/yarn-error.log
node_modules/puppeteer-extra-plugin-stealth/evasions/readme.md
node_modules/puppeteer-extra-plugin-stealth/evasions/_template/index.js
node_modules/puppeteer-extra-plugin-stealth/evasions/_template/package.json
node_modules/puppeteer-extra-plugin-stealth/evasions/_template/readme.md
node_modules/puppeteer-extra-plugin-stealth/evasions/_utils/index.js
node_modules/puppeteer-extra-plugin-stealth/evasions/_utils/index.test.js
node_modules/puppeteer-extra-plugin-stealth/evasions/_utils/readme.md
node_modules/puppeteer-extra-plugin-stealth/evasions/_utils/withUtils.js
node_modules/puppeteer-extra-plugin-stealth/evasions/chrome.app/index.js
node_modules/puppeteer-extra-plugin-stealth/evasions/chrome.app/index.test.js
node_modules/puppeteer-extra-plugin-stealth/evasions/chrome.app/package.json
node_modules/puppeteer-extra-plugin-stealth/evasions/chrome.app/readme.md
node_modules/puppeteer-extra-plugin-stealth/evasions/chrome.csi/index.js
node_modules/puppeteer-extra-plugin-stealth/evasions/chrome.csi/index.test.js
node_modules/puppeteer-extra-plugin-stealth/evasions/chrome.csi/package.json
node_modules/puppeteer-extra-plugin-stealth/evasions/chrome.csi/readme.md
node_modules/puppeteer-extra-plugin-stealth/evasions/chrome.loadTimes/index.js
node_modules/puppeteer-extra-plugin-stealth/evasions/chrome.loadTimes/index.test.js
node_modules/puppeteer-extra-plugin-stealth/evasions/chrome.loadTimes/package.json
node_modules/puppeteer-extra-plugin-stealth/evasions/chrome.loadTimes/readme.md
node_modules/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/index.js
node_modules/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/index.test.js
node_modules/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/package.json
node_modules/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/readme.md
node_modules/puppeteer-extra-plugin-stealth/evasions/chrome.runtime/staticData.json
node_modules/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.js
node_modules/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/index.test.js
node_modules/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/package.json
node_modules/puppeteer-extra-plugin-stealth/evasions/iframe.contentWindow/readme.md
node_modules/puppeteer-extra-plugin-stealth/evasions/media.codecs/index.js
node_modules/puppeteer-extra-plugin-stealth/evasions/media.codecs/index.test.js
node_modules/puppeteer-extra-plugin-stealth/evasions/media.codecs/package.json
node_modules/puppeteer-extra-plugin-stealth/evasions/media.codecs/readme.md
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/index.js
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/index.test.js
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/package.json
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.hardwareConcurrency/readme.md
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.js
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.languages/index.test.js
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.languages/package.json
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.languages/readme.md
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.js
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/index.test.js
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/package.json
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.permissions/readme.md
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/data.json
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/functionMocks.js
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/index.js
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/index.test.js
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/magicArray.js
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/mimeTypes.js
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/mimeTypes.test.js
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/package.json
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/plugins.js
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/plugins.test.js
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.plugins/readme.md
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/index.js
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/index.test.js
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/package.json
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.vendor/readme.md
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/index.js
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/index.test.js
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/package.json
node_modules/puppeteer-extra-plugin-stealth/evasions/navigator.webdriver/readme.md
node_modules/puppeteer-extra-plugin-stealth/evasions/sourceurl/index.js
node_modules/puppeteer-extra-plugin-stealth/evasions/sourceurl/index.test.js
node_modules/puppeteer-extra-plugin-stealth/evasions/sourceurl/package.json
node_modules/puppeteer-extra-plugin-stealth/evasions/sourceurl/readme.md
node_modules/puppeteer-extra-plugin-stealth/evasions/sourceurl/_fixtures/test.html
node_modules/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.js
node_modules/puppeteer-extra-plugin-stealth/evasions/user-agent-override/index.test.js
node_modules/puppeteer-extra-plugin-stealth/evasions/user-agent-override/package.json
node_modules/puppeteer-extra-plugin-stealth/evasions/user-agent-override/readme.md
node_modules/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/index.js
node_modules/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/index.test.js
node_modules/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/package.json
node_modules/puppeteer-extra-plugin-stealth/evasions/webgl.vendor/readme.md
node_modules/puppeteer-extra-plugin-stealth/evasions/window.outerdimensions/index.js
node_modules/puppeteer-extra-plugin-stealth/evasions/window.outerdimensions/package.json
node_modules/puppeteer-extra-plugin-stealth/evasions/window.outerdimensions/readme.md
node_modules/puppeteer-extra-plugin-stealth/examples/detect-headless.js
node_modules/puppeteer-extra-plugin-stealth/examples/test1.js
node_modules/puppeteer-extra-plugin-stealth/examples/test2.js
node_modules/puppeteer-extra-plugin-stealth/test/cat-and-mouse.test.js
node_modules/puppeteer-extra-plugin-stealth/test/fpscanner.test.js
node_modules/puppeteer-extra-plugin-stealth/test/util.js
node_modules/puppeteer-extra-plugin-stealth/test/fixtures/dummy.html
